;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 ;:deps {:aliases [:dev :test]}

 :nrepl {:port 9000
         :middleware []} ; optional list of namespace-qualified symbols

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn try-shadow-cljs.core/init}}}}}
